.App {
  text-align: center;
  padding: 20px;
  background-image: url(todo-list-img.jpg);
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.task-list {
  margin-top: 20px;
}


.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
  font-size: medium;
}

.task.completed {
  text-decoration: line-through;
  color: gray;
}

.task span {
  cursor: pointer;
}

.task button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}

.task button:first-of-type {
  background-color: #4caf50; /* Green for "Mark as Read" */
  color: white;
  border: none;
}

.task button:last-of-type {
  background-color: #f44336; /* Red for "Delete" */
  color: white;
  border: none;
}

.input-task{
  border: 1px solid black;
  width: 200px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: medium;
}

.add-task{
  border: 1px solid black;
  border-radius: 25px;
  background-color: gray;
}
.delete-task{
  border: 1px solid black;
  border-radius: 25px;
  background-color: gray;
}